.fifty-years{
	width:100%;
 
	background: url('assets/img/map-bg.jpg') top left no-repeat;
    @include background-size(cover);

    @include breakpoint(nomap)  {
        overflow: auto;
        width: 100%;
        position: relative;
        z-index: 1;
    }


	
    .step {
        position: relative;
        //width: 900px;
        padding: 0px;
        margin: 0px 0px 0px 0px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing:    border-box;
        -ms-box-sizing:     border-box;
        -o-box-sizing:      border-box;
        box-sizing:         border-box;
       // font-family: 'PT Serif', georgia, serif;
        //font-size: 48px;
        //line-height: 1.5;   
    }
    .big-picture{
    	position:absolute;
    	left: 800px;
    	width: 220px;
    	top: 0px;
    	a{
			font-size: 14px; 
			font-family: $cabin;
			text-transform: uppercase;
			font-weight: bold; display:block; 
			margin-bottom: 12px;
			img{width: 40px; padding: 3px 2px 0 2px; position: relative; top: 4px;}
			 
		}

    }
    #quality-points .big-picture{ top: 40px;}
    .impress-enabled .step {
        margin: 0;
        /*opacity: 0.3;*/
        opacity: 1;
		
        -webkit-transition: opacity 1s;
        -moz-transition:    opacity 1s;
        -ms-transition:     opacity 1s;
        -o-transition:      opacity 1s;
        transition:         opacity 1s;
    }

    .impress-enabled .step.active { opacity: 1 }

	p#instruction{
		 @include opacity(0);
        
        font-weight:bold;
    }
	.slide-topic {
		display: block;
		display: none;
	    width: 400px;
	   	img{
	   		width: 100%;
	   	}
	   	&:hover{
	   		@include opacity(0.8);
	   	}
 
	}

	.slide-point {
	    display: block;
	    display: none;
	    width: 420px; 
	    background-color: $white;
	    -webkit-box-shadow: 6px 4px 52px 28px rgba(255,255,255,1);
		-moz-box-shadow: 6px 4px 52px 28px rgba(255,255,255,1);
		box-shadow: 6px 4px 52px 28px rgba(255,255,255,1);

		ul{
		    list-style-type: disc;
		    margin: 0;
		    list-style-position: outside;
		    font-size: 40px;
			li.story-link{
				padding: 0px 0px 0px 0px ;
				clear: both;
				h2{margin-bottom: 5px;}
				a{
					font-size: 14px; 
					font-family: $cabin;
					text-transform: uppercase;
					font-weight: bold; display:block; 
					margin-bottom: 15px;
					vertical-align: bottom;
				}

				
				.related-topics{
					height: 40px; 
					padding: 0;
					margin: 0 0 1px 0px;
					display: block;
					width: 100%;

				}
				a img{
	    			display: inline;
	    			float: left;
	    			padding-right: 20px;
	    			vertical-align: bottom; 
	    		}
	    	} 	
		}
	       
	}

	.slide-story {
	    display: block;
	    display: none;
	    width: 920px;
	    //height: 600px;
	    overflow: auto;
		padding: 200px 30px 30px 30px;
	    background-color: $white;
	    -webkit-box-shadow: 6px 4px 52px 28px rgba(255,255,255,1);
		-moz-box-shadow: 6px 4px 52px 28px rgba(255,255,255,1);
		box-shadow: 6px 4px 52px 28px rgba(255,255,255,1);
	    .story-left{
	    	display: inline;
			width: 580px;
			float: left;
			padding-right: 40px;

			.breadcrumbs{
		    	display: block;
		    	 
		    	ul{
		    		margin: 0 0 30px 0;
		    		padding: 0;
		     
		    		li{	
		    			display: inline; 
		    			float: left; 
		    			padding: 0 10px 0px 0px; 
		    			font-size: 12px; 
						font-family: $cabin;
						text-transform: uppercase;
						font-weight: bold;  
						margin-bottom: 15px;
		    		}
		    	}
		    } 

		    .title{
		    	display: block;
		    	padding: 0 0 0px 0;
		    	text-align: left;
		    	h3{
		    		font-family: $georgia;
		    		
		    		color: black;
		    		text-transform: none;
		    		margin-top: 0px;
		    		
		    		&.cabin{
		    			font-family: $cabin;
		    			text-transform: uppercase;
		    			font-weight: bold;
		    			font-size: 20px;
		    		}

		    	}
		    }

		    .infographic{
		    	img{
		    		width:100%;
		    	}

		    	.source{
		    		p{
		    			color: #808184;
			    		font-family: georgia;
			    		font-size: 11px;
			    		line-height: 14px;
			    	}
		    		padding: 20px 0 0 0;
		    	}

		    }

	    } 	
	    .story-right{
	    	display: inline;
			width: 220px;
			float: left;

			a{
				font-size: 14px; 
				font-family: $cabin;
				text-transform: uppercase;
				font-weight: bold; display:block; 
				margin-bottom: 12px;
				img{width: 40px; padding: 3px 2px 0 2px; position: relative; top: 4px;}
				 
			}
			.related{
				font-size: 14px; 
				font-family: $cabin;
				text-transform: uppercase;
				font-weight: bold; display:block; 
				a img{
					display: block;
					margin: 15px 0 0 0;
					width: 60%;
				}

			}
	    }
	    



	}

	#title{
		margin-left: -250px;
		width: 350px;

		img{
			margin-left: 90px;
		}
		h1{
			display: none;
		}
		p{
			font-style: italic; background-color:$white;
			-webkit-box-shadow: 6px 4px 52px 28px rgba(255,255,255,1);
			-moz-box-shadow: 6px 4px 52px 28px rgba(255,255,255,1);
			box-shadow: 6px 4px 52px 28px rgba(255,255,255,1);

		}

	}




}