.think{
 
	width: 100%;
	height: 100%;
	background: url('assets/img/letter-bg.jpg') -140px 0 no-repeat;
    @include background-size(cover);

	.think-wrap{
		width: 800px;
		margin: 100px 0px 0px 200px; 
 
	}
	p{
		font-size: 20px;
		line-height: 28px;
	}

	.right-nav{
	    position: absolute;
	    right: 240px;
	    top: 850px;
 
	    width: 300px;		 
	}
	.left-nav{
	    position: absolute;
	    left: 20px;
	    top: 850px;
	   
	    width: 300px;		 
	}

	.survey-share{
		display: none;
		padding-top: 40px;
	}
}





/* Default custom select styles */
div.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	z-index: 100;
	width: 100%;
	max-width: 300px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

span.select-span{
	display: inline; padding: 0 10px 0 10px; width: 200px;
}


div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
	display: none;
}

.cs-select span {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 0 0 0 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
	padding-right: 0px;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
	speak: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
	content: '\25BE';
	right: 1em;
}

.cs-select .cs-selected span::after {
	content: '\2713';
	margin-left: 1em;
}

.cs-select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
	z-index: 200;
}

/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: #fff;
	visibility: hidden;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.cs-select ul span {
	padding: 1em;
}

.cs-select ul li.cs-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}










 

div.cs-walls {
	background: transparent;
	font-size: 20px;
	max-width: 200px;

}

span.magazine{
	width: 200px;
}

@media screen and (max-width: 30em) {
	div.cs-walls { font-size: 1.2em; }
}

 

.cs-walls > span.cs-placeholder {
	padding: 5px 0px 8px 0px;
	border-bottom: 1px solid #000;
	border-color: $black;
	color: $purple
	 
}

 

.cs-walls .cs-options {
	background: #fcfcfc;
	opacity: 1;
	-webkit-transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
	transition: opacity 0.0s 0.0s, visibility 0s 0.0s;
}

.cs-walls.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.9s;
	transition: opacity 0.9s;
}

.cs-walls ul span {
	position: relative;
	text-transform: none;
	font-size: 20px;;
	font-weight: normal;
	padding: 1.2em 0.8em;
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.cs-select ul span::after {
	content: '';
	opacity: 0;
}

.cs-select .cs-selected span::after {
 
	opacity: 1;
	-webkit-transition: opacity 0.3s 0.7s;
	transition: opacity 0.3s 0.7s;
}

.cs-walls ul span::before {
	content: '';
	position: absolute;
	bottom: 1px;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #fff;
	-webkit-transform: translate3d(200%,0,0);
	transform: translate3d(200%,0,0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.cs-walls.cs-active ul span,
.cs-walls.cs-active ul span::before {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cs-walls li:nth-child(5) span,
.cs-walls li:nth-child(5) span::before,
.cs-walls.cs-active li:first-child span,
.cs-walls.cs-active li:first-child span::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.cs-walls li:nth-child(4) span,
.cs-walls li:nth-child(4) span::before,
.cs-walls.cs-active li:nth-child(2) span,
.cs-walls.cs-active li:nth-child(2) span::before {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.cs-walls li:nth-child(3) span,
.cs-walls li:nth-child(3) span::before {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.cs-walls li:nth-child(2) span,
.cs-walls li:nth-child(2) span::before,
.cs-walls.cs-active li:nth-child(4) span,
.cs-walls.cs-active li:nth-child(4) span::before {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.cs-walls li:first-child span,
.cs-walls li:first-child span::before,
.cs-walls.cs-active li:nth-child(5) span,
.cs-walls.cs-active li:nth-child(5) span::before {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
} /* more items require more delay declarations */

.cs-walls .cs-options li span:hover,
.cs-walls .cs-options li.cs-focus span,
.cs-walls li.cs-selected span {
	color: $purple;
	background: transparent;
}








/* ------------------TExt Input Styles */

span.input-span{
	display: inline;  padding: 0 10px 0 0px; width: 250px; top: 0px;
	    margin: 0 0 0 4px;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 250px;
	vertical-align: top;
}

.input__field {
	position: relative;
	display: inline;
	padding: 0.8em;
	width: 250px;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: $black;
	font-weight: none;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0;
	width: 40px;
	color: $purple;
	font-weight: bold;
	font-size: 11px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: .3em 0;
	width: 40px;
}

button{
	padding: 20px 12px 20px 12px;
	font-size: 16px;
	font-family: $cabin;
	background-color: $purple;
	@include border-radius(10px);
	border: none;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}

button:hover{
	@include opacity(0.8);
}

//----------------------------------
 
 

.input__field--walls:focus,
.input--filled .input__field--walls {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field--walls:focus + .input__label--walls::before,
.input--filled .input__label--walls::before {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.input__field--walls:focus + .input__label--walls,
.input--filled .input__label--walls {
	pointer-events: none;
}

.input__field--walls:focus + .input__label--walls::after,
.input--filled .input__label--walls::after {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}









 
